/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  font-weight: bolder;
  background-color: rgb(255, 183, 0);
}

/* Styles pour l'en-tête */
header {
  background-color: black;
  color: #fff;
  padding: 2rem 0 8rem 0;
  text-align: center;
}

.LogoImg {
  width: 50%;
}
.LogoImg1 {
  display: none;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(255, 183, 0);
}

h2 {
  font-size: 31px;
  padding-bottom: 2rem;
  text-decoration: underline;
}

/* Styles pour la navigation */
nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #fff;
  color: #0077cc;
}

/* Styles pour le contenu principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 0 5rem 0;
}

section {
  margin-bottom: 40px;
}

section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
}

section ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

section p {
  margin-bottom: 20px;
}

/* Styles pour le formulaire de contact */
form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #8321bf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
}

form button[type="submit"]:hover {
  background-color: #005ea6;
}
/* Styles pour le pied de page */
footer {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
}
.fa {
  color: white;
  padding: 1rem;
}
/* Styles pour les écrans de taille moyenne */
@media only screen and (max-width: 900px) {
  body {
      font-size: 18px;
  }
  
  .LogoImg {
    width: 100%;
  }

  header h1 {
      font-size: 30px;
  }

  header h2 {
      font-size: 20px;
  }

  nav ul {
      flex-wrap: wrap;
  }

  nav ul li {
      margin-right: 10px;
      margin-bottom: 10px;
  }

  header {
      padding-top: 1rem;
      padding-bottom: 4rem;
  }

  main {
    padding: 4rem 2rem 5rem 3rem;
  }
}

/* Styles pour les écrans de petite taille */
@media only screen and (max-width: 480px) {
  body {
      font-size: 18px;
  }

  header h1 {
      font-size: 24px;
  }
  
  h2 {
      font-size: 25px;
      text-align: center;
  }

  h3 {
    text-align: center;
  }

  nav ul li {
      margin-right: 5px;
      margin-bottom: 5px;
  }

  nav ul li a {
    font-size: 18px;
  }

  main {
      padding: 5px;
  }

  form input,
  form textarea {
      font-size: 12px;
  }

  form button[type="submit"] {
      font-size: 12px;
  }
  .LogoImg {
    display: none;
  }

  .LogoImg1 {
    display: flex;
    width: 100%;
  }
}
